
.Header-tabs {
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  ALIGN-ITEMS: center;
  font-family: sans-serif;
}
.nav-bar a{
  margin: 0 25px;
}

.img {
  width: 100%;
  height: 400px;
}
.flex_item {
  font-size: 50pt;
  font-family: sans-serif;
  font-weight: bold;
}
.Headertwo {
  display: flex;
  flex-direction: row;
  font-size: 40pt;
  padding-top: 400px;
  justify-content: space-around;
  ALIGN-ITEMS: left;
  font-family: sans-serif;

}
.casestudyheader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  ALIGN-ITEMS: left;
  font-family: sans-serif;
}
.row {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  padding: 0 4px;
  padding-top: 0px;
  justify-content: space-evenly;
}
.row img {
  width: 300px;
}

.Headerthree {
  display: flex;
  flex-direction: row;
  font-size: 40pt;
  padding-top: 400px;
  justify-content: space-around;
  ALIGN-ITEMS: left;
  font-family: sans-serif; 
}

.AboutMe {
  display: flex;
  flex-direction: row;
  font-size: 40pt;
  padding-top: 400px;
  justify-content: space-around;
  ALIGN-ITEMS: left;
  font-family: sans-serif;
}

.AboutMeImage {
  display: flex;
  gap: 50px;
  flex-direction: row;
  font-size: 40pt;
  margin: 20px;
  justify-content: space-around 20px;
  ALIGN-ITEMS: center;
  font-family: sans-serif;
}

Create four equal columns that sits next to each other
.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.Footer-tabs {
  padding-top: 200px;
  max-width:
  margin: 400px;
  border: 2px solid color white (0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  ALIGN-ITEMS: center;
  font-family: sans-serif;
}